
<div class="col-md-3 offset-md-2 mt-4" style="float:left">
  <div class="card text-center">
    <div class="card-header bg-secondary display-4 text-light edition{{ winner.year }}">
      <p>{{ winner.winner }}</p>
      <p style="display:inline;" >{{ winner.year }}</p>

    </div>
    <div class="card-body">
      Points:
      <h3  class="display-4">{{winner.votes}}</h3>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary mr-4" (click)="winner.voteUp();onButtonClick()" [disabled]="click">Up</button>
      <button class="btn btn-danger" (click)="winner.voteDown();onButtonClick()" [disabled]="click">Down</button>
    </div>

  </div>
 </div>
