<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Angular Add New World Cup Champions</a>
</nav>

<div class="container p-4 ">
  <div class="row ">
    <div class="col-md-8 offset-md-2"> <!-- offset de 2 columnas */ -->
      <div class="card">
        <h3 class="card-header">Add a Winner</h3>
        <form class="card-body">
          <label for="winner">Winner: </label>
          <input type="text" name="winner" #winner class="form-control" autofocus>
          <label for="year">Year: </label>
          <input type="number" name="year" #year class="form-control" >
          <!--<label for="image">Representative Image: </label>
          <input type="file" (change)="onFileSelected($event)" name="image" #image class="form-control" >-->
          <button (click)="addWinner(winner, year)" class="btn btn-primary btn-block mt-4">
              Submit Link
          </button>
        </form>
      </div>
    </div>
  </div>

  <app-cupwinners *ngFor="let winner of winners" [winner]="winner"></app-cupwinners>
  <!-- let link of links: Significa que por cada links que recivimos lo guardamos en una variable link. -->
  <!-- [link]="link": Significa que la variable que guardamos antes la vamos a estar asignando en un array de links -->

</div>
